@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
    font-family: "stolzl";
    src: url("/fonts/stolzl_regular.otf");
}

:root {
    --primary-color: #000000;
}

.download-sec {
    overflow: hidden;
    background: linear-gradient(to bottom, #040502 0%, #6e953f 76%);
}

.download-sec .section-badge {
    margin-left: 0;
}

.dowload-cntn {
    max-width: 679px;
    margin-top: 50px;
}

.dowload-cntn>h4 {
    font-size: 50px !important;
    color: var(--clr-primary-100);
    font-family: var(--ff-stolzl);
    font-weight: 400;
}

.download-para {
    font-size: 22px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: var(--clr-primary-100);
    margin: 50px 0;
    max-width: 648px;
    /* text-align: center; */
}

.download-img {
    max-width: 424px;
    display: flex;
    justify-content: space-between;
}

.left-download {
    width: 200px;
}

.left-download>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-download {
    width: 200px;
}

.right-download>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mobile-img {
    width: 227px;
    perspective: 1000px;
    /* 3D depth */
}

.mobile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
    will-change: transform;
    
}


/* Media QUERY */

@media (max-width: 1200px) {

    /* Download-sec */
    .dowload-cntn h4 {
        font-size: 42px;
    }

    .download-para {
        font-size: 20px;
    }

    .mobile-img {
        width: 200px;
    }
}

@media (max-width: 991px) {

    /* Download-sec */
    .download-sec {
        padding: 40px 0;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .download-sec .col-9,
    .download-sec .col-3 {
        width: 100%;
    }

    .mobile-img {
        margin: 50px auto 0;
    }

    .download-btn {
        width: fit-content;
        margin: 0 auto;
    }

    .dowload-cntn {
        margin: 50px auto 0;
        text-align: center;
    }

    .download-para {
        text-align: center;
        margin: 50px auto 50px;
    }

    .download-img {
        margin: 0 auto;
    }

    .col-6 {
        width: 100%;
    }

    .accordian-img {
        width: 487px;
        border-radius: 30px;
        overflow: hidden;
        margin: 0px auto 31px;
    }
}

@media (max-width: 768px) {
    .download-sec .section-badge {
        margin: 0 auto;
    }

    /* Download-sec */
    .dowload-cntn>h4 {
        font-size: 37px !important;
        color: var(--clr-primary-100);
        font-family: var(--ff-stolzl);
        font-weight: 400;
    }

    .download-para {
        text-align: center;
        margin: 30px auto 30px;
    }

    .download-para {
        font-size: 18px;
    }

    .dowload-cntn {
        margin: 24px auto 0;
        text-align: center;
    }

}

@media (max-width: 576px) {
    /* Download-sec */

    .left-download {
        width: 110px;
    }

    .right-download {
        width: 110px;
    }

    .download-img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin: 0 auto;
    }

    .download-para {
        font-size: 13px;
    }

    .dowload-cntn>h4 {
        font-size: 28px !important;
        color: var(--clr-primary-100);
        font-family: var(--ff-stolzl);
        font-weight: 400;
    }

    .btn-download {
        padding: 8px;
        border: 1px solid var(--clr-primary-100);
        color: var(--clr-primary-100);
        font-family: var(--ff-stolzl);
        font-size: 13px;
        font-weight: 400;
        border-radius: 30px;
        cursor: pointer;
        display: inline-block;
    }

    .mobile-img {
        width: 130px;
    }

}