/* ======= Features Section Start */
.features {
  padding: 100px 0;
}

.features-grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 24px;
  margin-top: 72px;
}

/* LEFT SIDE */
.features-left {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 24px;
}

.left-stack {
  display: grid;
  gap: 16px;
}

.left-main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* SAVINGS */
.savings {
  grid-column: 1 / -1;
  position: relative;
}

.spending-img {
  position: absolute;
  top: 0;
  right: 0;
}

.savings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 32px;
}

/* RIGHT SIDE */
.features-right {
  display: grid;
  grid-template-rows: 1fr 1.2fr;
  gap: 24px;
}

.features-right .card {
  padding: 16px 24px;
}

/* CARDS */
.card {
  border-radius: 20px;
  padding: 18px;
}

.chart-info {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-top: 16px;
}

.chart-info li {
  position: relative;
}

.chart-info li::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  top: calc(50% - 8px);
  left: -20px;
}

.chart-info li:nth-child(1)::before {
  background: url("/images/features/investement-before.svg");
}

.chart-info li:nth-child(2)::before {
  background: url("/images/features/expences-before.svg");
}

.chart-info li:nth-child(3)::before {
  background: url("/images/features/savings-before.svg");
}

/* PILLS */
.pill {
  padding: 20px 20px 20px 45px;

  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0);
}


/* ============== Feature Start ======== */
.features span {
  display: block;
}

.features h3 {
  margin-bottom: var(--fs-450);
}

.features small {
  font-size: var(--fs-250);
  font-weight: var(--fw-regular);
  color: var(--clr-fade-600);
}

.bottom-card p,
.phone p,
.secure p {
  font-size: var(--fs-300);
  color: var(--clr-fade-600);
  text-align: center;
}

.top-card,
.center-card,
.bottom-card,
.phone,
.chart,
.transaction-info,
.transaction-info-left,
.transaction-info-right,
.secure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-card {
  justify-content: space-between;
}

.center-card,
.bottom-card,
.phone,
.chart,
.secure {
  flex-direction: column;
}

.icon-lock {
  padding: 18px;
  background: var(--clr-primary-650);
  border-radius: 34.5px;
  aspect-ratio: 1;
}

.icon-lock img {
  object-fit: contain;
}

.icon-lock,
.goal-tracking-img,
.phone-img,
.chart-img {
  margin-bottom: var(--fs-400);
}

.transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.transaction small:not(:last-child) {
  margin-bottom: 6px;
}

.transaction-status,
.transaction-info {
  justify-content: space-around;
  margin-top: 36px;
}

.transaction-info-left,
.transaction-info-right {
  flex-direction: column;
  justify-content: space-around;
  /* background: red; */
}

.transaction-info-left {
  align-items: flex-start;
}

.transaction-info-right {
  align-items: flex-end;
}

.transaction-info strong:not(:last-child),
.transaction-info small:not(:last-child) {
  margin-bottom: var(--fs-350);
}

.transaction-icon {
  margin-bottom: var(--fs-250);
}

.left-main strong {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}

.transaction-status {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.check {
  margin-right: var(--fs-400);
}

.transaction-status>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.left-main-top,
.transaction-status {
  background: rgba(0, 0, 0, 0);
  padding: 16px;
}

.transaction-status strong {
  margin-bottom: 13px;
}

.secure {
  margin-top: 64px;
}

.savings {
  padding: 16px 40px;
}

.savings>strong {
  font-size: var(--fs-450);
  font-weight: var(--fw-medium);
}

.savings-grid strong {
  font-size: var(--fs-250);
  font-weight: var(--fw-regular);
  color: var(--clr-fade-600);
  position: relative;
}

.savings-grid strong::before {
  content: "";
  position: absolute;
  background: var(--clr-primary-200);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: calc(50% - 8px);
  left: -25px;
}

.savings-grid div:nth-child(1) strong::before {
  background: var(--clr-green-300);
}

.savings-grid div:nth-child(2) strong::before {
  background: var(--clr-red-300);
}

.savings-grid div:nth-child(3) strong::before {
  background: var(--clr-yellow-300);
}

.savings-grid div:nth-child(4) strong::before {
  background: var(--clr-blue-300);
}

.savings-grid>div span {
  font-size: var(--fs-250);
  font-weight: var(--fw-regular);
}

.savings-grid>div span:last-of-type {
  padding: 5px 8px;
  border-radius: 20px;
}

.savings-grid>div:nth-child(1) span:last-of-type,
.savings-grid>div:nth-child(4) span:last-of-type {
  color: var(--clr-green-900);
  background: var(--clr-green-300);
}

.savings-grid>div:nth-child(2) span:last-of-type,
.savings-grid>div:nth-child(3) span:last-of-type {
  color: var(--clr-deepred);
  background: var(--clr-red-300);
}

/* ====== Features Section End */

/* ========== Responsive =========== */

@media screen and (max-width: 1200px) {
  .feature-wrapper-row {
    flex-direction: column;
    align-items: center;
  }
  .right-row > div {
    flex-grow: 1;
  }
  /* .expenses-table table {
    min-width: 900px; 
  } */
}
@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .features-left {
    grid-template-columns: 1fr 1fr;
  }

  .features-right {
    grid-template-rows: auto auto;
  }
  .goals-layout {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 991px) {
  
  .savings-wrapper-inner > div {
    max-width: 320px;
  }
  /* variable expenses */
  /* .table-header > .btn {
    margin-top: 20px;
  } */

  /* .expenses-cta {
    justify-content: center;
    flex-wrap: wrap;
  }
  .expenses-cta > .btn-secondary {
    margin-right: 20px;
  } */

  /* .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .buddget-planner-wrapper > div {
    height: 842px;
    width: fit-content;
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 34px;
  }
  .buddget-planner-right figure img {
    width: 40px;
    height: 40px;
  }
  .contact-form{
    margin-top: 40px;
  } */
}
@media screen and (max-width: 768px) {
  .grid {
    background-size: 60px 60px;
  }
  section::before,
  section::after {
    width: 30%;
  }
  section::before {
    background: radial-gradient(
      circle at left center,
      rgba(185, 251, 106, 0.2),
      transparent 60%
    );
  }
  section::after {
    background: radial-gradient(
      circle at right center,
      rgba(185, 251, 106, 0.2),
      transparent 80%
    );
  }
  /* .buddget-planner-left {
    display: none;
  }
  .buddget-planner-right {
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 35px;
  } */
  /* summary cards */
  /* .row .summary-card {
    height: auto;
    margin-bottom: 20px;
  }
  .about-us .section-content {
    max-width: fit-content;
  } */
  .feature-step {
    gap: 16px;
  }
  .features {
    padding: 80px 0;
  }

  .features-left {
    grid-template-columns: 1fr;
  }

  .left-main {
    order: 1;
  }

  .left-stack {
    order: 0;
  }

  .features-right {
    grid-template-columns: 1fr;
  }

  .savings-grid {
    grid-template-columns: 1fr;
  }
  .goal-card {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .goal-ring {
    align-self: center;
    margin-top: 20px;
  }
  .goals-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media screen and (max-width: 576px) {
  /* .reassurance-item {
    flex-direction: column;
  }
  .reassurance-item span {
    margin: 0 0 16px 0;
  }
  .reassurance-item img {
    max-width: 30px;
  }
  .pricing-cards {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    justify-content: center;
  } */
  /* .footer-bottom-left {
    margin-bottom: 10px;
  }
  .buddget-planner-wrapper > div {
    align-items: flex-start;
  }
  .clients {
    padding: 8px 0;
  }
  .clients-img img {
    height: 20px;
  }
  #client-top {
    transform: rotate(10deg);
  } */

  /* #client-bottom {
    transform: rotate(-10deg);
  }
  .client-band-wrapper{
    bottom: -50px;
  }
  .live-chat-content{
    text-align: center;
  }
  .live-chat-btn{
    flex-direction: column;
    align-items: center;
  }
  .live-chat-btn figure{
    margin-bottom: 24px;
  } */
  /* .about-left > div:nth-child(2){
    max-width: 330px;
    width: 100%;
  }
  .about-left{
    padding-top: 20%;
    margin-top: 0;
  } */
  .feature-step figure{
    width: 80px;
    height: 80px;
    border-radius: 30px;
  }
  /* .buddget-planner-right figure img{
    width: 35px;
    height: 35px;
  }
  .buddget-planner-wrapper > div{
    height: 680px;
  } */
  .feature-step::before{
    left: 35px;
    top: 80px;
    height: calc(100% + 100px);
  }
  .feature-step::after{
    left: 30px;
  }
}
/* @media screen and (max-width: 420px) {
  .buddget-planner-right figure {
    padding: 20px 24px;
    border-radius: 25px;
  }
  .buddget-planner-right figure img {
    width: 30px;
    height: 30px;
  }
  .about-left{
    padding-top: 0%;
    margin-top: 24px;
  }
  .about-left figure{
    display: none;
  }
  .about-left > div{
    position: relative;
  }
  .about-left > div:nth-child(2){
    margin-bottom: 24px;
  }
} */

@media (max-width: 375px) {
  :root {
    --fs-900: 30px;
    --fs-500: 24px;
  }
  .btn {
    padding: 9px 15px;
  }
  .features {
    padding: 48px 0;
  }

  .features-grid {
    gap: 20px;
  }

  .card {
    padding: 14px;
  }

  /* h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  } */
}

