/* ======== Pricing Plan Start ======== */

.pricing .section-content {
  max-width: 100%;
}

.reassurance-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reassurance-item {
  font-size: var(--fs-300);
  color: var(--clr-primary-100);
  font-weight: var(--ff-dm-sans);
  display: flex;
  align-items: center;
}

.reassurance-item span {
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 16px;
}

.reassurance-item img {
  max-width: 40px;
}

.billing-toggle {
  background: var(--clr-primary-200);
}

.billing-toggle {
  padding: 6px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  width: fit-content;
  margin: 60px auto;
}

.billing-toggle button:first-child {
  margin-right: 32px;
}

.billing-option {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  border-radius: 999px;
  border: none;
  background: transparent;
  color: var(--clr-primary-100);
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  font-family: var(--ff-dm-sans);
  cursor: pointer;
  transition: color 0.3s ease;
}

.billing-option.is-active {
  color: var(--clr-primary-900);
}

/* sliding background */
.billing-toggle::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(50% - 6px);
  height: calc(100% - 12px);
  background: var(--clr-primary-200);
  border-radius: 50px;
  transition: transform 0.35s ease;
}

/* move slider when yearly is active */
.billing-toggle.yearlyToggle::before {
  transform: translateX(100%);
}

/* +++ Pricing Card++++ */
.price {
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.plan-icon {
  margin-bottom: 30px;
}

/* fade-out state */
.price.is-switching {
  opacity: 0;
  transform: translateY(6px);
}

.pricing-card {
  padding: 20px 30px;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.pricing-cards hr {
  margin: 30px 0;
  border: none;
  height: 1px;
  background: var(--clr-fade-200);
}

.plan-description {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  color: var(--clr-fade-600);
}

.plan-features {
  padding: 20px;
  border: 1px solid var(--clr-fade-200);
  border-radius: 20px;
  margin: 30px 0;
}

.features-title {
  font-family: var(--ff-dm-sans);
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-100);
}

.feature-item {
  display: flex;
  align-items: center;
  margin: 22px 0;
  font-size: var(--fs-300);
  font-family: var(--ff-dm-sans);
  color: var(--clr-fade-600);
}

.feature-item figure {
  margin-right: 12px;
}

.feature-item svg {
  fill: var(--clr-fade-600);
  fill-opacity: 0.6;
}

.is-featured .plan-features {
  background: var(--clr-primary-200);
}

.is-featured .plan-description {
  color: var(--clr-primary-100);
}

.is-featured .features-title {
  color: var(--clr-primary-900);
}

.is-featured .feature-item {
  color: var(--clr-primary-900);
}

.is-featured .feature-item img {
  fill: var(--clr-primary-900);
  fill-opacity: 1;
}

/* ++++ Pricing Card End */


.is-featured .feature-item img {
  filter: brightness(0) saturate(100%) contrast(500%);
}
/* ========== Responsive =========== */

@media screen and (max-width: 1200px) {
  .feature-wrapper-row {
    flex-direction: column;
    align-items: center;
  }
  .right-row > div {
    flex-grow: 1;
  }
  .expenses-table table {
    min-width: 900px; /* prevents column squish */
  }
}
@media (max-width: 1024px) {
  .features-grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .features-left {
    grid-template-columns: 1fr 1fr;
  }

  .features-right {
    grid-template-rows: auto auto;
  }
  .goals-layout {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 991px) {
  
  .savings-wrapper-inner > div {
    max-width: 320px;
  }
  /* variable expenses */
  .table-header > .btn {
    margin-top: 20px;
  }

  .expenses-cta {
    justify-content: center;
    flex-wrap: wrap;
  }
  .expenses-cta > .btn-secondary {
    margin-right: 20px;
  }

  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .buddget-planner-wrapper > div {
    /* align-items: center; */
    height: 842px;
    width: fit-content;
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 34px;
  }
  .buddget-planner-right figure img {
    width: 40px;
    height: 40px;
  }
  .contact-form{
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    background-size: 60px 60px;
  }
  section::before,
  section::after {
    width: 30%;
  }
  section::before {
    background: radial-gradient(
      circle at left center,
      rgba(185, 251, 106, 0.2),
      transparent 60%
    );
  }
  section::after {
    background: radial-gradient(
      circle at right center,
      rgba(185, 251, 106, 0.2),
      transparent 80%
    );
  }
  .buddget-planner-left {
    display: none;
  }
  .buddget-planner-right {
    margin: 0 auto;
  }
  .buddget-planner-right figure {
    padding: 30px;
    border-radius: 35px;
  }
  /* summary cards */
  .row .summary-card {
    height: auto;
    margin-bottom: 20px;
  }
  .about-us .section-content {
    max-width: fit-content;
  }
  .feature-step {
    gap: 16px;
  }
  .features {
    padding: 80px 0;
  }

  .features-left {
    grid-template-columns: 1fr;
  }

  .left-main {
    order: 1;
  }

  .left-stack {
    order: 0;
  }

  .features-right {
    grid-template-columns: 1fr;
  }

  .savings-grid {
    grid-template-columns: 1fr;
  }
  .goal-card {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .goal-ring {
    align-self: center;
    margin-top: 20px;
  }
  .goals-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media screen and (max-width: 576px) {
  .reassurance-item {
    flex-direction: column;
  }
  .reassurance-item span {
    margin: 0 0 16px 0;
  }
  .reassurance-item img {
    max-width: 30px;
  }
  .pricing-cards {
    grid-template-columns: 1fr;
  }
  .footer-bottom {
    justify-content: center;
  }
  .footer-bottom-left {
    margin-bottom: 10px;
  }
  .buddget-planner-wrapper > div {
    align-items: flex-start;
  }
  .clients {
    padding: 8px 0;
  }
  .clients-img img {
    height: 20px;
  }
  #client-top {
    transform: rotate(10deg);
  }

  #client-bottom {
    transform: rotate(-10deg);
  }
  .client-band-wrapper{
    bottom: -50px;
  }
  .live-chat-content{
    text-align: center;
  }
  .live-chat-btn{
    flex-direction: column;
    align-items: center;
  }
  .live-chat-btn figure{
    margin-bottom: 24px;
  }
  .about-left > div:nth-child(2){
    max-width: 330px;
    width: 100%;
  }
  .about-left{
    padding-top: 20%;
    margin-top: 0;
  }
  .feature-step figure{
    width: 80px;
    height: 80px;
    border-radius: 30px;
  }
  .buddget-planner-right figure img{
    width: 35px;
    height: 35px;
  }
  .buddget-planner-wrapper > div{
    height: 680px;
  }
  .feature-step::before{
    left: 35px;
    top: 80px;
    height: calc(100% + 100px);
  }
  .feature-step::after{
    left: 30px;
  }
}
@media screen and (max-width: 420px) {
  .buddget-planner-right figure {
    padding: 20px 24px;
    border-radius: 25px;
  }
  .buddget-planner-right figure img {
    width: 30px;
    height: 30px;
  }
  .about-left{
    padding-top: 0%;
    margin-top: 24px;
  }
  .about-left figure{
    display: none;
  }
  .about-left > div{
    position: relative;
  }
  .about-left > div:nth-child(2){
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  :root {
    --fs-900: 30px;
    --fs-500: 24px;
  }
  .btn {
    padding: 9px 15px;
  }
  .features {
    padding: 48px 0;
  }

  .features-grid {
    gap: 20px;
  }

  .card {
    padding: 14px;
  }

  /* h3 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  } */
}
