/* Get Started Section CSS Module */
.getStarted {
  position: relative;
}
.getStarted figure {
  position: absolute;
}
.getStartedLeft {
  top: 0;
  /* left: 0; */
}
.getStartedRight {
  top: 0;
  right: 0;
}
.getStartedDec {
  color: var(--clr-fade-600);
  text-align: center;
}
.container {
  position: relative;
  z-index: 2;
  max-width: 1320px;
  margin: 0 auto;
}
.sectionContent {
  text-align: center;
  margin: 0 auto;
}
.secHeading {
  font-family: var(--ff-stolzl);
  font-size: var(--fs-500);
  color: var(--clr-primary-100);
  letter-spacing: var(--letter-spacing-300);
  text-align: center;
  margin: 48px 0;
}
.secHeading span {
  color: var(--clr-primary-200);
}

.getStartedDec {
    font-family: var(--ff-dm-sans);
  color: var(--clr-fade-600);
    text-align: center;
}
.sectionBtn {
  margin-top: 32px;
}

@media (max-width: 991px) {
  .getStartedLeft, .getStartedRight {
    width: 120px;
    height: 120px;
  }
  .secHeading {
    font-size: 1.5rem;
  }
}
